<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.stanford.mdocent"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="8" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:icon="@drawable/icon"
        android:label="@string/app_name" >
        <activity
            android:name=".SignInActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity 
            android:name=".MainPageActivity" >
        </activity>
        <activity 
            android:name=".SignupActivity" >
        </activity>
        <activity 
            android:name=".TourActivity" >
        </activity>
        <activity 
            android:name=".MyToursActivity" >
        </activity>
        <activity 
            android:name=".TourSearchActivity" >
        </activity>
        <activity 
            android:name=".CreateTourActivity" >
        </activity>

       	<!--  Node Tabs -->
        <activity android:name=".NodeTabLayoutActivity" />
        
        <!--  Tab Audio Activity -->
        <activity android:name=".TabAudioActivity" />
 
        <!--  Tab Details Activity -->
        <activity android:name=".TabDetailsActivity" />
 
        <!--  Tab Photos Activity -->
        <activity android:name=".TabPhotosActivity" />
        

        <activity 
            android:name=".TourNameActivity" >
        </activity>

        <uses-library android:name="com.google.android.maps" />
    </application>

</manifest>